:root {
    --background-menu: #345744;
    --color-menu: #e4bc7f;
    --background-menu-gradiente:#49775e;
    --cwhite-color: #f4fff9;;
}
*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    min-height: 100%;
    height: auto;    
   background: #e0f1e8;
    /*background: linear-gradient(180deg, rgba(60, 115, 84, 1) 0%, rgba(171, 207, 184, 1) 30%);*/
}

p, a{
    color: black;
}

#wrapper{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.imagem{
    max-width: 350px;
    max-height: 450px;
    background-color: var(--background-menu);
    box-shadow: 0px 2px 5px var(--background-menu-gradiente);
    box-sizing: border-box;
}

.imagem img{
    max-width: 350px;
    max-height: 450px;
}

