#membro p{
    color: var(--color-membros)
}
#recomendacao {
    border: 3px solid var(--background-menu-gradiente);
    background: #345744;
    color: #fff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}


.capaLivro {
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
    border: 3px solid var(--background-menu-gradiente);
    border-radius: 100%;
    margin: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.capaLivro img{
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
}

.textos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media (max-width:930px) {

    #recomendacao {
        border: 3px solid var(--background-menu);
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}